<mat-toolbar color="primary" class="mat-elevation-z4">
    <div>
        <img routerLink="home" class="logo-home" src="assets\img\logo-barbearia.png" alt="">
    </div>
    <span>
        BarberSystem
    </span>

    <div class="spacer"></div>

    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="services">Serviços</a>
    <a mat-button routerLink="avaliations">Avaliações</a>
    <a mat-button routerLink="about">Sobre</a>
    <a mat-raised-button color="accent" routerLink="signup">Sign Up</a>
</mat-toolbar>
